@import "../variables";

.btn {
  font-family: map-get($typography, font);
  font-size: map-get($typography, text);
  background: map-get($colors, primary);
  color: map-get($colors, lightgrey);
  padding: ($spacing * 0.5) $spacing;
  margin: $spacing 0;
  cursor: pointer;
  outline: 0;
  border: 0;

  &:hover {
    background: map-get($colors, warning);
  }
  &:active {
    background: map-get($colors, success);
  }
}
